.wrapper {
    width: 480px;
    /*background: #1C1C21;*/
    border-radius: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span {
    color: #4C4CFF;
    margin-left: 8px;
    text-decoration: none;
}