.container {
    display: flex;
    justify-content: flex-start;
    padding: 5% 10%;
}
.left {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.right {

}
.navLink {
    color: #8585AD;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
}

.activeLink {
    color: #F2F2F3;
}
