.header {
    background: #1C1C21;
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuButton {
    width: 178px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F3;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
}
.profile {
    text-decoration: none;
}